html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:global #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-family: Helvetica, Aria, sans-serif;
}

* {
  box-sizing: inherit;
  font-family: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
  font: inherit;
}


@media (max-width: 599px) {
  .small {
    display: block;
  }

  .large {
    display: none;
  }
}

@media (min-width: 600px) {
  .small {
    display: none;
  }

  .large {
    display: block;
  }
}
